target/
node_modules/
!public/node_modules/
!public/node_modules/todomvc-app-css/
!public/node_modules/todomvc-app-css/index.css
!public/node_modules/todomvc-common/
!public/node_modules/todomvc-common/base.css
.gh_token
.claude/
.database_url
.task_id
.container_name
.app_name
.gh_user
.github_token
.pipeline-state.json
.gitkeep
.progress
.db_decision
.env.production
!.env.example
